pandas
numpy
scikit-learn
matplotlib
plotly
streamlit
nltk
sentence-transformers
umap-learn
hdbscan
scikit-learn-extra
tqdm
scipy
transformers
torch
gensim
wordcloud
textblob
vaderSentiment
lightgbm
pyarrow
